@import "node_modules/font-awesome/scss/font-awesome";
@import "node_modules/sweetalert/dev/sweetalert.scss";
@import "node_modules/sweetalert/dev/sweetalert.scss";

$white_10: rgba(255,255,255,0.1);

body{
  padding-top: 25px;
  padding-bottom: 40px;
}

.navbar-fixed-top{
  margin-bottom: 55px;
}